[Unit]
Description=Celery flower
Documentation=https://flower.readthedocs.io/
After=network.target

[Service]
Type=simple
StandardError=journal
StandardOutput=journal
User=yuping
MemoryMax=5G
Environment=FLOWER_UNAUTHENTICATED_API=1
ExecStart=/opt/devel/yuping/envs/orca-env/bin/celery -A orca.celery:app flower --broker-api="http://flower:<redacted>@localhost:15672/api/"

[Install]
WantedBy=multi-user.target
