[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "*"
scipy = "*"
ipykernel = "*"
python-casacore = "*"
matplotlib = '*'
scikit-image = '*'
celery = '~=4.3'
tornado = '~=4.2'
pyyaml = "*"

[dev-packages]
pytest = '*'

[requires]
python_version = "3"
