[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "*"
pandas = "*"
scipy = "*"
dask = {version = "*", extras = ["distributed"]}
ipykernel = "*"
python-casacore = "*"
matplotlib = '*'
opencv-python = '*'

[dev-packages]
pytest = '*'

[requires]
python_version = "3"
