[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://casa-pip.nrao.edu/repository/pypi-casa-release/simple"
verify_ssl = true
name = "nrao"

[packages]
astropy = "*"
scipy = "*"
ipykernel = "*"
python-casacore = "*"
matplotlib = '*'
scikit-image = '*'
celery = '==4.4.6'
tornado = '*'
pyyaml = "*"
fabric = "*"
flower = '*'
casatools = "*"
casatasks = "*"
ovro-lwa-orca = {editable = true,path = "."}
psutil = "*"
cryptography = ">=3.2"
gitpython = "*"
jedi = "==0.17.2"
casadata = "*"

[dev-packages]
pytest = '*'
sphinx = '*'
codecov = '*'
pytest-cov = '*'
mock = '*'
scikit-learn = '*'
mypy = "*"
seaborn = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = '*'
ipympl = "*"

[requires]
python_version = "3.8"
